@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
.header {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    @include tablet {
        justify-content: flex-start;
    }
    &__logo {
        letter-spacing: -4px;
        display: inline;
        color: $blue-dark;
        &--dot {
           font-size: 5rem;
        }
    }
}