@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.weather {
  &__header {
    text-align: center;
  }
  &__wrapper {
    margin: 2rem;
    &--title {
      text-align: center;
      color: $white;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    &--row {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      @include desktop {
        flex: 0 0 50%;
        gap: 0.5rem;
      }
    }
    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .weather__data {
        flex: 1;
        height: 7rem;
        padding: 3rem 2rem;
      }

      .row {
        display: flex;
        gap: 0.5rem;
      }
      @include desktop {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
      }
    }
    &--sun {
      align-items: normal;
      align-content: normal;
      padding: 1.5rem 2rem;
    }
    @include box-shadow;
    @include tablet {
      width: 100%;
    }
    align-items: center;
    background-color: $blue-light;

    border-radius: 1.5rem;
    position: relative;
    background-image: linear-gradient(
      to bottom left,
      $blue-light 0%,
      $blue-dark 50%,
      $blue 100%
    );
    transition: background-position 600ms ease;
    background-size: 200%;
    &:hover {
      background-position: 80% 0;
    }
  }
  &__title,
  &__value {
    color: $white;
  }
  &__title {
    font-size: 0.8rem;
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: 700;
    &--sun {
      color: $white;
      font-size: 0.8rem;
      text-align: left;
      position: unset;
      font-weight: 700;
    }
  }
  &__value {
    font-size: 1.2rem;
    &--sun {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
    @include desktop {
      flex-direction: row;
    }
  }
  &__image--wrapper {
    width: 100%;

    padding: 1.7rem 2rem;
    display: flex;
    justify-content: center;
    @include tablet {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    @include desktop {
      flex: 1;
    }
  }

  &__date--wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
    button {
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      border: none;
      background-color: $blue-dark;
      color: $white;
      transition: background-color 0.3s ease;
      @include box-shadow;
      &:hover {
        background-color: $blue-light;
        color: $blue-deep;
      }
    }
  }
}

.time-bar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time-bar-wrapper {
  width: 100%;
  position: relative;

  .time-bar {
    width: 100%;
  }

  .hour-labels-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -20px;
    width: 100%;

    .hour-label {
      flex: 1;
      text-align: left;
    }
  }
}
