@import './partials/variables';
@import './partials/mixins';
@import './partials/typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: $blue-deep;
}

ul {
  list-style-type: none;
}

body{
  background-color: $white;
  @include tablet {
margin: 0 1rem;}
}




button{
  &:hover{
    cursor: pointer;
  }
}



a{
  text-decoration: none;
  color: inherit;
  &:hover{
    cursor: pointer;
  }


}
