@mixin page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}

@mixin subheader {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

@mixin label-button {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
}

@mixin table-header {
  font-size: 0.6875rem;
  line-height: 1.625rem;
  font-weight: 400;
}

@mixin body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
}

@mixin body-medium {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin body-small {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
}

@mixin tablet-page-header {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

@mixin tablet-subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin tablet-label-button {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin tablet-table-header {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin tablet-body-large {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
}

@mixin tablet-body-medium {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin tablet-body-small {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400px;
}
