@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.spot {
  &__image--container {
    position: relative;
  }
  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 3rem;
    z-index: 2;
  }
  &__image {
    border-radius: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: 30vh;
    object-fit: cover;
    filter: brightness(80%);
    max-width: 40rem;
  }
  &__infoList {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1.5rem auto;
    width: 80%;
  }
  &__map {
    width: 80%;
    border-radius: 1.5rem;
    &--wrapper {
        display: flex;
        justify-content: space-around
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: $white;
    background-color: $blue;
    border-radius: 1.5rem;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  &__title {
    font-size: 0.7rem;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  &__title {
      color: $white;
  }
}
