@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.city{
    display: flex;

    &__menu {
        width: 20rem;
        padding: 1rem;
        border-radius: 1.5rem;
        outline: none;
        border: none;
        margin: 1rem auto;
        background-color: $blue-lighter;
        @include box-shadow;
    }}